<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

form[name="frm"] {
    background: #ffffff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 40%;
    margin: auto;
    margin-top: 9%;
}

form[name="frm"] input[type="text"],
form[name="frm"] input[type="password"],
form[name="frm"] input[type="email"] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
    transition: border 0.3s;
}

form[name="frm"] input[type="text"]:focus,
form[name="frm"] input[type="password"]:focus,
form[name="frm"] input[type="email"]:focus {
    border-color: #007BFF;
    outline: black;
}

form[name="frm"] input[type="submit"]{
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form[name="frm"] input[type="submit"]:hover {
    background-color: #0056b3;
}
h5
{
        text-align: center;
        margin-top: 2%;
        color: green;
}
.footer
{
    width: 100%;
    height: 30px;
    background-color:black;
    margin-top: 7.6%;
}
    </style>
</head>
<body>
    <form name="frm" action="/admin/updateadmin" method="post">
            <input type="hidden" name="userid" value="<%=msg.user_id%>" placeholder="">
            <input type="text" name="username" value="<%=msg.username%>" placeholder="">
            <input type="password" name="password" value="" placeholder="Enter Your Old Password">
            <input type="password" name="npass" value="" placeholder="Enter New password">
            <input type="email" name="email" value="<%=msg.email%>" placeholder="">
            <input type="submit" name="s" value="Update">
            <br>
            <!-- <a href="#"><button>Delete</button></a> -->
            <h5> <%=genre%></h5>
    </form>

    <div class="footer">
            <h4 style="text-align: center;
            color: white; font-weight: 400 ; font-size: 14px; line-height: 30px;">Design and handle by V&DMoviemate &copy; 2025</h4>
    </div>
</body>
</html>