<!-- 
Admin Regsiter File 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3 class="sign-text">Admin Login</h3>
    <form name="adminFrm" action="/admin/login" method="post">
        <input type="email" name="adminemail" value="" placeholder="Admin Email">
        <span></span>
        <input type="password" name="adminPassword" value="" placeholder="Admin Password">
        <span></span>
       <input type="text" name="adminUsername" value="" placeholder="Admin Username">
        <span></span>
       <input type="text" name="role" value="Admin" readonly>

        <span></span>
        <input type="submit" name="s" value="Register as Admin" id="button">
          <h4>Already Have Account?&nbsp;<a href="/">Sign In Now.</a></h4>
    </form>
</body>
</html> -->