<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./Js/RegFormvalidation.js"></script>
</head>
<body>
    <form name="frm" action="/savereguser" method="post" onsubmit=" return validateForm()">
        <h3>Sign Up</h3>
        <input type="text" name="username" value="" placeholder="Username" id="username">
        <input type="email" name="email" value="" placeholder="Email" id="email">
        <input type="password" name="password" value="" placeholder="Password" id="password">
        <input type="text" name="role" value="User" readonly>
        <input type="submit" name="s" value="Sign up" id="button" style="cursor: pointer;">
        <h4>Already Have Account?&nbsp;<a href="/">Sign In Now.</a></h4>
        <br>
            <h5><%=msg%></h5>
            <br>
            <%if(msg==="Registration Sucessfull")
            {
                %>
                    <h5>Want To Continue without Login <a href="/userdashboard">Click Here</a></h5>
                <%
            }%>
            <br>
                <!-- <h5><a href="/registeradmin">Sign Up As Admin</a></h5> -->
    </form>
</body>
</html>