<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *
        {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .butcon {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .button {
    display: flex;
    gap: 35%;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    margin-left: 29%;
    margin-top: 2%;
  }

  .button a {
    text-decoration: none;
  }

  .button a button {
    display: flex;
    align-items: center;
    gap: 8px;
    background: black;
    color:white;
    /* color: white; */
    border: none;
    padding: 10px 18px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }

  .button a button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
  }

  .buttonform {
            width: 60%;
            height: 68vh;
            margin: auto;
            margin-top: 1%;
            /* border: 1px solid white; */
  }
</style>

</head>
<body>
        <div class="butcon">
                    <div class="button">
                            <a href="/admin/adduserpage"><button><i class="fas fa-plus small-plus"></i>&nbsp;Add User</button></a>
                              <a href="/admin/viewuserpagead"><button><i class="fas fa-film"></i>&nbsp;View User</button></a>
                    </div>

                    <div class="buttonform">
                                <%if(childfilename!=="no")
                                {
                                    %>
                                    <%-include(childfilename)%>
                                    <%
                                }%>
                    </div>
        </div>
</body>
</html>